<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Weight graph</title>
</head>
<body>
	<div id="dashboard_div" style="width: 100%; height: 100%;">
		<div id="chart_div"     style="width: 100%; height: 90%;">Loading...</div>
		<div id="separator_div" style="width: 100%; height:  1%;"></div>
		<div id="control_div"   style="width: 100%; height:  9%;"></div>
	</div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="charts.js"></script>
</html>